@use './styles/tokens';
@use './styles/components';

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

//@source '../';



:root {
  --rl-sidebar-w: 15.5rem;
  --rl-topbar-h: var(--tui-height-l);
  --rl-mobile-nav-h: 3.5rem;
}
